{erl_opts, [debug_info, nowarn_export_all]}.
{deps, []}.

{project_plugins, [rebar3_proper]}.

{profiles,
  [{test, [
    {deps, [{proper, "1.4.0"}, coveralls]},
    {extra_src_dirs, [{"test", [{recursive, true}]}]}
  ]}
]}.

% 
{cover_enabled, false}.
% {cover_export_enabled, true}.
% {coveralls_coverdata, "_build/test/cover/*.coverdata"}.
% {coveralls_service_name, "github"}.

{dialyzer, [
  {warnings, [
    no_return
  ]}
]}.
