{erl_opts, [debug_info, nowarn_export_all]}.
{deps, []}.

{project_plugins, [rebar3_proper]}.  

{dialyzer, [
  {plt_extra_apps, [eunit, syntax_tools, compiler]}
]}.

{profiles,
  [{test, [
    {deps, [{proper, "1.4.0"}, coveralls]},
    {extra_src_dirs, [{"test", [{recursive, true}]}]}
  ]}
]}.

{cover_enabled, false}.
